<section id="brand">
    <div class="container">
        <div class="brand_logo text-center">
            <img src="assets/img/logo.png" alt="">
        </div>
    </div>
</section>

<section id = "user_info">
    <div class="container">
        <img src="assets/img/avatar.png" alt="">
        <p>strimo</p>
    </div>
</section>

<section id="control">
    <div class="container">
        <button><span><i class="fas fa-camera"></i></span></button>
        <button><span><i class="fas fa-plus"></i></span></button>
        <button><span><i class="fas fa-times"></i></span></button>
    </div>
</section>