<div class="showcase" id = "last_movie">
    <div class="component_title"><p>LATEST MOVIES ADDED</p></div>
    <div class="component_conent">
        <section class="items">
            <div class="carouselOfImages">
                <div class="carouselImage" style="background-size:cover">
                    <img data-tab="bright"
                        src="assets/img/tmg-article_tall.jpg"/>
                    <p>The Black Man In San Francisco</p>
                </div>
                <div class="carouselImage" style="background-size:cover">
                    <img data-tab="avatar"
                        src="assets/img/tmg-article_tall(3).jpg"/>
                    <p>Dark Waters</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="nuh"
                        src="assets/img/tmg-article_tall(10).jpg"/>
                    <p>Ash is Purest White</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="lord" src="assets/img/tmg-article_tall(11).jpg"/>
                    <p>Parasite</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="thor" src="assets/img/tmg-article_tall(9).jpg"/>
                    <p>Peterloo</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="john" src="assets/img/tmg-article_tall(4).jpg"/>
                    <p>Transit</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="deadpool2" src="assets/img/tmg-article_tall(5).jpg"/>
                    <p>Ad Astra</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="inception" src="assets/img/tmg-article_tall(6).jpg"/>
                    <p>Little Woman</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="fight" src="assets/img/tmg-article_tall(7).jpg"/>
                    <p>The Nightingale</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="dunkirk" src="assets/img/tmg-article_tall(8).jpg" />
                    <p>Parabellum</p>
                </div>
            </div>
        </section>
        <div id="dark"></div>
        <div id="lightbox"></div>
    </div>
</div>