.showcase#large_moviecard_slider {
  margin-top: 44px;
}
.sliders#large_moviecard_slider{
  margin-bottom: 55px;
}

#large_moviecard_slider .sliders_title {
  display: inline-flex;
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}
#large_moviecard_slider .searchComponent{
  position: absolute;
  right: 13px;
}

#large_moviecard_slider .sliders_title p {
  color: white;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-left: 114px;
  letter-spacing: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#large_moviecard_slider .carousel-cell {
  margin-left: 35px;
  margin-right: 35px;
}


#large_moviecard_slider .carouselOfImages {
  max-width: 100%;
  margin: auto;
  overflow: visible;
  height: 603px !important;
}

#large_moviecard_slider .carouselImage {
  width: 1800px !important;
  margin-top: 30px;
  padding-bottom: 40px;
  border-radius: 20px;
  counter-increment: carousel-cell;
  transition: transform 0.5s;
  text-align: center;
  position: relative;
}

#large_moviecard_slider .carouselImage img {
  width: 100%;
  height: 590px !important;
  border-radius: 20px;
}

#large_moviecard_slider .carouselImage.is-selected {
  z-index: 10;
  transform: scaleY(1);
}

#large_moviecard_slider .carouselImage.is-selected img {
  -webkit-box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.7);
  border: 1px solid #EB761C;
}

#large_moviecard_slider .carouselImage p {
  display: none;
  color: #f5f5f5;
  width: 100%;
  font-size: 20px;
  letter-spacing: 3px;

}

#large_moviecard_slider .carouselImage.is-selected p {
  margin-top: 12px;
  margin-bottom: 0px !important;
  display: block;
  color: #F5F5F5;
  width: 100%;
  font-size: 20px;
  letter-spacing: 3px;
}

/* .carouselImage.nextToSelected {
  transform: scale(1.25);
  z-index: 5;
} */



#large_moviecard_slider .carouselImage.nextToSelected img{
  opacity: 0.15;
  border: 2px solid #707070;
}

/*! Flickity v2.0.5
https://flickity.metafizzy.co
---------------------------------------------- */

#large_moviecard_slider .flickity-enabled {
  position: relative;
}

#large_moviecard_slider .flickity-enabled:focus {
  outline: none;
}

#large_moviecard_slider .flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100% !important;
}

#large_moviecard_slider .flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

#large_moviecard_slider .flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#large_moviecard_slider .flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

#large_moviecard_slider .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */

#large_moviecard_slider .flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: white;
  background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#large_moviecard_slider .flickity-prev-next-button:hover {
  background: white;
}

#large_moviecard_slider .flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F;
}

#large_moviecard_slider .flickity-prev-next-button:active {
  opacity: 0.6;
}

#large_moviecard_slider .flickity-prev-next-button.previous {
  left: 10px;
}

#large_moviecard_slider .flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */

#large_moviecard_slider .flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

#large_moviecard_slider .flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

#large_moviecard_slider .flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto;
}

#large_moviecard_slider .flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

#large_moviecard_slider .flickity-prev-next-button .arrow {
  fill: #333;
}

/* ---- page dots ---- */

#large_moviecard_slider .flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

#large_moviecard_slider .flickity-rtl .flickity-page-dots {
  direction: rtl;
}

#large_moviecard_slider .flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

#large_moviecard_slider .flickity-page-dots .dot.is-selected {
  opacity: 1;
}

#large_moviecard_slider .product-detail-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 21px;
  font-weight: 700;
}

#large_moviecard_slider #lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 90vw;
  height: 90vh;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#large_moviecard_slider #dark {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .9);
  width: 100vw;
  height: 100vh;
}

#large_moviecard_slider .product-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

#large_moviecard_slider .product-detail-inner {
  display: flex;
  background-color: white;
  width: 75vw;
  height: 75vh;
  position: relative;
  padding: 1rem;
  overflow-y: auto;
}

#large_moviecard_slider .product-detail-image {
  flex: 0 1 30%;
  padding: 15px;
}

#large_moviecard_slider .product-detail-image img {
  width: 100%;
}

#large_moviecard_slider .hide {
  display: none;
}

.movie_description{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: inline-flex;
  padding-top: 140px;
}

.movie_bg_img{
  opacity: 0.2;
}

.description{
  width: 50%;
  padding-left: 180px;
}

.plot{
  width: 50%;
}
.description h4{
  font-size: 40px;
  color: white;
  margin-bottom: 57px;
  text-align: start;
}

.description p{
  font-size: 15px !important;
  text-align: start;
}

.plot p{
  padding-right: 120px;
  text-align: start;
  line-height: 33px;
  font-size: 25px !important;
}

.btn_group.plays{
  margin-top: 138px !important;
}

.btn_group.plays > .button.play{
  width: 295px !important;
  height: 77px !important;
  background: #2f3136;
  border-radius: 10px;
  border: 1px solid #EB761C;
  color:white;
  font-size: 40px;
  font-weight: 200;
}

.btn_group.plays > .button.favorite{
  width: 295px !important;
  height: 77px !important;
  background: white;
  border-radius: 10px;
  border: none;
  color: #2f3136;
  font-size: 40px;
  font-weight: 200;
  margin-left: 20px;
  position: relative;
}
.button.favorite>.circle_icon{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background: #2f3136;
  position: absolute;
  top:15px;
  left: 20px;
}

.button.favorite>.circle_icon>fa-icon{
  color: white;

}
