<div class="sliders" id="large_moviecard_slider">
  <div class="sliders_title">
    <p>LATEST MOVIES ADDED</p>
    <div class="searchComponent">
      <app-search-box></app-search-box>
    </div>
  </div>
  <div class="sliders_content">
    <section class="items">
      <div class="carouselOfImages">
        <div class="carouselImage" style="background-size:cover" *ngFor="let info of infos; let i = index;">
          <img class="movie_bg_img" data-tab="dark" src="https://image.tmdb.org/t/p/w1280{{cards[i].cardImg}}" />
          <div class="movie_description">
            <div class="description">
              <h4>{{info["card"].name}}</h4>
              <p>RELEASE DATE: {{info["infos"].releaseDate}}</p>
              <p>RATING: {{info["infos"].rating}}</p>
              <p>GENRE: {{info["infos"].genres}}</p>
              <p>LENGTH: {{info["infos"].length}}</p>
              <div class="btn_group plays">
                <button class="button play">
                  <fa-icon [icon]="playIcon" transform="left-8" id="play_icon"></fa-icon>Play
                </button>
                <button class="button favorite">
                  <div class="circle_icon">
                    <fa-icon [icon]="starIcon" transform="shrink-4 down-2" id="star_icon"></fa-icon>
                  </div>Favorite
                </button>
              </div>
            </div>
            <div class="plot">
              <p class="plot_context">
                {{info["infos"].plot}}
              </p>
              <div class="movie_types">

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="dark"></div>
    <div id="lightbox"></div>
  </div>
</div>
