<div class="sliders" id="large_moviecard_slider">
  <div class="sliders_title">
    <p>LATEST MOVIES ADDED</p>
    <div class="searchComponent">
      <app-search-box></app-search-box>
    </div>
  </div>
  <div class="sliders_content">
    <section class="items">
      <div class="carouselOfImages">
        <div class="carouselImage" style="background-size:cover" *ngFor="let card of cards">
          <img class="movie_bg_img" data-tab="dark" src="https://image.tmdb.org/t/p/w1280{{card.cardImg}}" />
          <div class="movie_description">
            <div class="description">
              <h4>{{card.name}}</h4>
              <p>RELEASE DATE: 28 MAY 2018</p>
              <p>DIRECTOR: DOUG LIMAN</p>
              <p>GENRE: SCI-FI / ACTION</p>
              <p>LENGTH: 1H 25MIN</p>
              <div class="btn_group plays">
                <button class="button play">
                  <fa-icon [icon]="playIcon" transform="left-8" id="play_icon"></fa-icon>Play
                </button>
                <button class="button favorite">
                  <div class="circle_icon">
                    <fa-icon [icon]="starIcon" transform="shrink-4 down-2" id="star_icon"></fa-icon>
                  </div>Favorite
                </button>
              </div>
            </div>
            <div class="plot">
              <p class="plot_context">
                With the help of warrior Rita Vrataski, Major William
                Cage has to save Earth and the human race
                from an alien species, after being caught in a
                time loop.
              </p>
              <div class="movie_types">

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="dark"></div>
    <div id="lightbox"></div>
  </div>
</div>
