#brand {
    margin-top: 170px;
}

section#user_info {
    margin-top: 62px;
}

section .container {
    width: 50%;
    text-align: center;
}

section .container>p {
    color: #808182;
    margin-top: 5px;
    font-size: 23px;
}

.profile_circle {
    width: 205px;
    height: 205px;
    border-radius: 100%;
    border: 1px solid #707070;
    margin-left: auto;
    margin-right: auto;
    background: #2F3136;
}

.profile_circle>img {
    margin-top: 30px;
    margin-left: 2px;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #1B1C1D;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 13px;
}

.btn>img {
    margin-top: 6px;
}

#control .container {
    margin-top: 50px;
}

#control .container>p {
    font-size: 13px !important;
}
fa-icon{
  color:#A8A8A8
}