<div class="sidebar" (resized)="onResized($event)">
    <div class="brand_logo">
        <img src="assets/img/brand_logo.png" alt="">
        <p id="brand_text">strimo</p>
    </div>
    <div class="w_main_categories">
        <nav id="sidebarMenu">
            <ul class="header_Menu">
                <li class="active">
                    <a routerLink="/main/home">
                        <div class="home_icon"></div>
                        <p class="header_title">HOME</p>
                    </a>
                </li>
                <li>
                    <a routerLink="/main/livetv">
                        <div class="livetv_icon"></div>
                        <p class="header_title">LIVE TV</p>
                    </a>
                    <ul class="sub_Menu">
                        <li *ngFor="let sub_category of categories['live_categories']">
                            <a href="">
                                <div class="subcategory_bar"></div>
                                <p class="sub_title">{{sub_category["category_name"]}}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a routerLink="/main/vod">
                        <div class="movies_icon"></div>
                        <p class="header_title">MOVIES</p>
                    </a>
                    <ul class="sub_Menu">
                        <li *ngFor="let sub_category of categories['vod_categories']">
                            <a href="">
                                <div class="subcategory_bar"></div>
                                <p class="sub_title">{{sub_category["category_name"]}}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a routerLink="/main/series">
                        <div class="tvseries_icon "></div>
                        <p class="header_title">TV SERIES</p>
                    </a>
                    <ul class="sub_Menu">
                        <li *ngFor="let sub_category of categories['serie_categories']">
                            <a href="">
                                <div class="subcategory_bar"></div>
                                <p class="sub_title">{{sub_category["category_name"]}}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a routerLink="/main/radio">
                        <div class="radio_icon"></div>
                        <p class="header_title">RADIO</p>
                    </a>
                </li>
                <li>
                    <a routerLink="/main/recording">
                        <div class="recording_icon"></div>
                        <p class="header_title">RECORDINGS</p>
                    </a>
                </li>
                <li>
                    <a routerLink="/main/favorite">
                        <div class="favorite_icon"></div>
                        <p class="header_title">FAVOIRTE</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="setting_app_bar text-center w-100">
        <div style="position:relative; display:inline-flex; width: 100%;">
            <div class="btn logout" (click)="logout()"><img src="assets/img/logout.png" alt=""></div>
            <div class="setting_sets">
                <div class="btn"><img src="assets/img/menu.png" alt=""></div>
                <div class="btn"><img src="assets/img/setting.png" alt=""></div>
            </div>
        </div>
    </div>
</div>
