<!-- Brand Logo -->
<div class="brand_logo text-center w-100">
    <div class="logo_img" id="brand_logo_img"></div>
</div>
<!-- Side Bar -->
<div class="sidebar" id="sidebar" (resized)="onResized($event)">

    <!-- Sidebar Menu -->
    <nav id="sidebarMenu">
        <ul class="components">
            <li class="active">
                <a routerLink="/main/home">
                    <div class="home_icon"></div>
                    <p class="category_title" id="home_category_title">HOME</p>
                </a>
            </li>
            <li>
                <a routerLink="/main/tvland" data-toggle="collapse" data-target="#livetv_menu"  aria-expanded="false">
                    <div class="livetv_icon"></div>
                    <p class="category_title" id="livetv_category_title">LIVE TV</p>
                </a>
                <ul class="collapse list-unstyled" id="livetv_menu">
                    <li>
                        <a href="#">
                            <div class="active_bar"></div>ROMANIA
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="active_bar"></div>UNITED KINGDOM
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="active_bar"></div>UNITED STATES
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="active_bar"></div>BEIN SPORTS
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="active_bar"></div>ITALY
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a  routerLink="/main/movieland" data-toggle="collapse" data-target="#movies_menu" aria-expanded="false">
                    <div class="movies_icon"></div>
                    <p class="category_title" id="movie_category_title">MOVIES</p>
                </a>
                <ul class="collapse list-unstyled" id="movies_menu">
                    <li>
                        <a href="#">
                            <div class="active_bar"></div>ACTION
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="active_bar"></div>HORROR
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="active_bar"></div>ADVENTURES
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="active_bar"></div>DOCUMENTARY
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="active_bar"></div>COMEDY
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="active_bar"></div>WESTERN
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <div class="tvseries_icon"></div>
                    <p class="category_title" id="tvseries_category_title">TV SERIES</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="radio_icon"></div>
                    <p class="category_title" id="radio_category_title">RADIO</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="recording_icon"></div>
                    <p class="category_title" id="recording_category_title">RECORDING</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="favorite_icon"></div>
                    <p class="category_title" id="favorite_category_title">FAVORITE</p>
                </a>
            </li>
        </ul>
    </nav>

</div>