.main {
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 5px;
    margin-right: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    margin-right: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 20px;
    margin-right: 2px;
}

.scroll-element {
    scroll-margin-right: 5px;
}

.main_content {
    margin-top: 50px;
    width: 100%;
}

.main form input {
    background: #2F3136 !important;
    border: 1px solid #F5F5F5 !important;
    right: 1% !important;
    top: 5% !important;
    position: absolute !important;
    height: 26px !important;
    width: auto !important;
    color: #808182 !important;
}