<div class="main">
    <div class="main_content">
        <div class="search_field">
            <form [formGroup]="searchForm">
                <div class="form-grup">
                    <input type="text" class="form-control search_input" placeholder="Search">
                </div>
            </form>
        </div>
        <app-last-added-movies [cards]="movieCards" [slider_title]="movie_title"></app-last-added-movies>
        <app-favorite-tvseries [cards]="tvchannelCards" [slider_title]="tvchannel_title"></app-favorite-tvseries>
        <app-last-added-live-tvs [cards]="movieCards" [slider_title]="movie_title"></app-last-added-live-tvs>
        <app-favorite-radio-channel [cards]="radioCards" [slider_title]="radio_title"></app-favorite-radio-channel>
        <app-account-part></app-account-part>
    </div>
</div>