<div class="main">
    <div class="main_content">
        <app-last-added-movies [cards]="lastMovieCards" [slider_title]="movie_title"></app-last-added-movies>
        <app-favorite-live-tvs [cards]="favLiveTVCards"></app-favorite-live-tvs>
        <app-last-added-tvseries [cards]="lastSerieCards" [slider_title]="series_title"></app-last-added-tvseries>
        <app-favorite-radio-channel [cards]="favRadioCards"></app-favorite-radio-channel>
        <app-account-part></app-account-part>
    </div>
</div>
