#brand {
    margin-top: 170px;
}

#auth_form {
    margin-top: 133px;
}

div.auth_form {
    width: 510px;
    margin-left: auto;
    margin-right: auto;
}

#auth_form form input {
    background: #2F3136;
    border: 1px solid #EB761C;
    color: #808182;
}

.btn-black {
    width: 100%;
    background: #1B1C1D;
    border: 1px solid #EB761C;
    color: #808182;
}

.btn-black:hover {
    color: #a0a1a2;
}

.loading_progress {
    width: 100%;
    height: 10px;
    background: #F5F5F580;
    border-radius: 20px;
}

.progress_bar {
    height: 100%;
    background: #F5F5F5;
    border-radius: 20px;
}

#loading_info{
    margin-top: 163px;
}

#loading_info > .container > p{
    text-align: center;
    color: #808182;
    font-size: 29px;
}

#loading_info > .container > .loading_progress{
    margin-top: 81.5px;
}