#brand {
    margin-top: 170px;
}

.brand_logo h4{
  margin-top: 30px;
  font-size: 68px;
  color: #808182;
  letter-spacing: 41px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#auth_form {
    margin-top: 133px;
}

div.auth_form {
    width: 510px;
    margin-left: auto;
    margin-right: auto;
}

#auth_form form input {
    background: #2F3136;
    border: 1px solid #EB761C;
    color: #808182;
}

.btn-black {
    width: 100%;
    background: #1B1C1D;
    border: 1px solid #EB761C;
    color: #808182;
}

.btn-black:hover {
    color: #a0a1a2;
}

.loading_progress {
    width: 100%;
    height: 10px;
    background: #F5F5F580;
    border-radius: 20px;
}

.progress_bar {
    height: 100%;
    background: #F5F5F5;
    border-radius: 20px;
}

#loading_info {
    margin-top: 218px;
}

#loading_info>.container>p {
    text-align: center;
    color: #808182;
    font-size: 29px;
}

#loading_info>.container>.loading_progress {
    margin-top: 81.5px;
}

.outline_bar{
    width: 75%;
    height: 9px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f580;
    border-radius: 30px;
    margin-top: 61.5px;
}

.inner_bar{
    height: 9px;
    background-color: #f5f5f5;
    border-radius: 30px;
    width: 0%;
    transition: width 500ms ease-in-out;
}
