<div class="showcase" id="tv_channel">
    <div class="component_title">
        <p>FAVORITE TV CHANNELS</p>
    </div>
    <div class="component_content">
        <section class="items">
            <div class="carouselOfImages">
                <div class="carouselImage" style="background-size:cover">
                    <img data-tab="bright" src="assets/img/HBO2_HD.png" />
                    <p>HBO 2 HD</p>
                </div>
                <div class="carouselImage" style="background-size:cover">
                    <img data-tab="avatar" src="assets/img/protv_hd.png" />
                    <p>PRO TV HD</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="nuh" src="assets/img/axn_black_png.png" />
                    <p>AXN Black 4K</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="lord" src="assets/img/filmnowhd.png" />
                    <p>FILM NOW HD</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="thor" src="assets/img/bbc_earth_hd.png" />
                    <p>BBC Earth HD</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="john" src="assets/img/travel_channel.png" />
                    <p>TRAVEL CHANNEL</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="deadpool2" src="assets/img/HBO2_HD.png" />
                    <p>HBO 2 HD</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="inception" src="assets/img/protv_hd.png" />
                    <p>PRO TV HD</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="fight" src="assets/img/axn_black_png.png" />
                    <p>AXN Black 4K</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="dunkirk" src="assets/img/travel_channel.png" />
                    <p>TRAVEL CHANNEL</p>
                </div>
            </div>
        </section>
        <div id="dark"></div>
        <div id="lightbox"></div>
    </div>
</div>