.showcase#radio {
    margin-top: 20px;
}

#radio .component_title p {
    color: white;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 0px;
    margin-left: 10px;
}

#radio .carouselOfImages {
    max-width: 100%;
    margin: auto;
    overflow: visible;
}

#radio .carouselImage {
    width: 16.28%;
    height: 177px;
    margin-top: 5px;
    padding-bottom: 40px;
    border-radius: 20px;
    counter-increment: carousel-cell;
    transition: transform 0.5s;
    transform: scale(0.9);
    text-align: center;
}

#radio .carouselImage img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#radio .carouselImage.is-selected {
    z-index: 10;
    transform: scale(0.9);
}

#radio .carouselImage.is-selected img {
    -webkit-box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.6);
}

#radio .carouselImage p {
    margin-top: 5px;
    color: #A8A8A8;
    width: 100%;
    font-size: 15px;
    display: block;
}

#radio .carouselImage.is-selected p {
    margin-top: 5px;
    display: block;
    color: #A8A8A8;
    font-size: 15px;
    width: 100%;
}

#radio .carouselImage.nextToSelected p {
    display: none;
}

/* .carouselImage.nextToSelected {
    transform: scale(1.25);
    z-index: 5;
} */

#radio .carouselImage.nextToSelected {
    opacity: 0.15;
}

/*! Flickity v2.0.5
https://flickity.metafizzy.co
---------------------------------------------- */

#radio .flickity-enabled {
    position: relative;
}

#radio .flickity-enabled:focus {
    outline: none;
}

#radio .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}

#radio .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* draggable */

#radio .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#radio .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

#radio .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

/* ---- previous/next buttons ---- */

#radio .flickity-prev-next-button {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background: white;
    background: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
    /* vertically center */
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#radio .flickity-prev-next-button:hover {
    background: white;
}

#radio .flickity-prev-next-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #09F;
}

#radio .flickity-prev-next-button:active {
    opacity: 0.6;
}

#radio .flickity-prev-next-button.previous {
    left: 10px;
}

#radio .flickity-prev-next-button.next {
    right: 10px;
}

/* right to left */

#radio .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
}

#radio .flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
}

#radio .flickity-prev-next-button:disabled {
    opacity: 0.3;
    cursor: auto;
}

#radio .flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}

#radio .flickity-prev-next-button .arrow {
    fill: #333;
}

/* ---- page dots ---- */

#radio .flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

#radio .flickity-rtl .flickity-page-dots {
    direction: rtl;
}

#radio .flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
}

#radio .flickity-page-dots .dot.is-selected {
    opacity: 1;
}

#radio .product-detail-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
}

#radio #lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 90vw;
    height: 90vh;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#radio #dark {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    width: 100vw;
    height: 100vh;
}

#radio .product-detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

#radio .product-detail-inner {
    display: flex;
    background-color: white;
    width: 75vw;
    height: 75vh;
    position: relative;
    padding: 1rem;
    overflow-y: auto;
}

#radio .product-detail-image {
    flex: 0 1 30%;
    padding: 15px;
}

#radio .product-detail-image img {
    width: 100%;
}

#radio .hide {
    display: none;
}