<div class="sliders" id="fav_livetvs">
  <div class="slider_title">
    <p>FAVORITE TV CHANNELS</p>
  </div>
  <div class="slider_content">
    <section class="items">
      <div *ngIf="cards != null; then showCards else showNothing"> </div>
      <ng-template #showCards>
        <div class="carouselOfImages">
          <div class="carouselImage" style="background-size:cover" *ngFor="let card of cards">
            <img data-tab="bright" src="{{card.cardImg}}" />
            <p>{{card.name}}</p>
          </div>
        </div>
      </ng-template>
      <ng-template #showNothing>
        <div class="nothingItems">
          <p>NO FAVORITE RADIO STATIONS ADDED YET</p>
        </div>
      </ng-template>
    </section>
    <div id="dark"></div>
    <div id="lightbox"></div>
  </div>
</div>
