<div class="showcase" id = "tv_series">
    <div class="component_title"><p>LATEST SERIES ADDED</p></div>
    <div class="component_conent">
        <section class="items">
            <div class="carouselOfImages">
                <div class="carouselImage" style="background-size:cover">
                    <img data-tab="bright"
                        src="assets/img/right_series.png"/>
                    <p>The Black Man In San Francisco</p>
                </div>
                <div class="carouselImage" style="background-size:cover">
                    <img data-tab="avatar"
                        src="assets/img/left_movie.png"/>
                    <p>Dark Waters</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="nuh"
                        src="assets/img/left_series.png"/>
                    <p>Ash is Purest White</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="lord" src="assets/img/right_movie.png"/>
                    <p>Parasite</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="thor" src="assets/img/series_2.png"/>
                    <p>Peterloo</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="john" src="assets/img/right_series.png"/>
                    <p>Transit</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="deadpool2" src="assets/img/left_movie.png"/>
                    <p>Ad Astra</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="inception" src="assets/img/left_series.png"/>
                    <p>Little Woman</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="fight" src="assets/img/right_movie.png"/>
                    <p>The Nightingale</p>
                </div>
                <div class="carouselImage" style="background-size:cover;">
                    <img data-tab="dunkirk" src="assets/img/series_2.png" />
                    <p>Parabellum</p>
                </div>
            </div>
        </section>
        <div id="dark"></div>
        <div id="lightbox"></div>
    </div>
</div>