.logout {
  margin-top: 511px;
}

.buttons {
  display: inline-grid;
  width: 100%;
}

.buttons button {
  margin-left: auto;
  margin-right: auto;
  background: #1B1C1D;
  border: 2px #A8A8A8 solid;
  border-radius: 8px;
  font-size: 18px;
  color: #808182;
  width: 543px;
  height: 42px
}

.buttons button:hover{
  background: #F5F5F5;
  color:#1B1C1D;
}

.buttons button:first-child{
  margin-bottom: 32px;
}