<div class="sliders" id="large">
    <div class="sliders_title">
        <p>{{slider_title}}</p>
    </div>
    <div class="sliders_content">
        <section class="items">
            <div class="carouselOfImages" >
                <div class="carouselImage" style="background-size:cover" *ngFor="let card of cards">
                    <img data-tab="bright" src="{{card.imgPath}}" />
                    <p>{{card.title}}</p>
                </div>
            </div>
        </section>
        <div id="dark"></div>
        <div id="lightbox"></div>
    </div>
</div>