<div class="showcase" id="last_movie">
    <div class="component_title">
        <p>LATEST MOVIES ADDED</p>
    </div>
    <div class="component_conent">
        <section class="items">
            <div class="carouselOfImages" >
                <div class="carouselImage" style="background-size:cover" *ngFor="let card of cards">
                    <img data-tab="bright" src="{{card.imgPath}}" />
                    <p>{{card.title}}}</p>
                </div>
            </div>
        </section>
        <div id="dark"></div>
        <div id="lightbox"></div>
    </div>
</div>