<!-- Brand Logo -->
<div class="brand_logo text-center w-100">
    <div class="logo_img"></div>
</div>
<!-- Side Bar -->
<div class="sidebar">

    <!-- Sidebar Menu -->
    <nav id="sidebarMenu">
        <ul class="list-unstyled components">
            <li class="active">
                <a href="#"><div class="home_icon"></div> HOME</a>
            </li>
            <li>
                <a href="#livetv_menu" data-toggle="collapse" aria-expanded="false">
                    <div class="livetv_icon"></div>LIVE TV</a>
                <ul class="collapse list-unstyled" id="livetv_menu">
                    <li>
                        <a href="#"><div class="active_bar"></div>ROMANIA</a>
                    </li>
                    <li>
                        <a href="#"><div class="active_bar"></div>UNITED KINGDOM</a>
                    </li>
                    <li>
                        <a href="#"><div class="active_bar"></div>UNITED STATES</a>
                    </li>
                    <li>
                        <a href="#"><div class="active_bar"></div>BEIN SPORTS</a>
                    </li>
                    <li>
                        <a href="#"><div class="active_bar"></div>ITALY</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#movies_menu" data-toggle="collapse" aria-expanded="false" >
                    <div class="movies_icon"></div>MOVIES</a>
                <ul class="collapse list-unstyled" id="movies_menu">
                    <li>
                        <a href="#"><div class="active_bar"></div>ACTION</a>
                    </li>
                    <li>
                        <a href="#"><div class="active_bar"></div>HORROR</a>
                    </li>
                    <li>
                        <a href="#"><div class="active_bar"></div>ADVENTURES</a>
                    </li>
                    <li>
                        <a href="#"><div class="active_bar"></div>DOCUMENTARY</a>
                    </li>
                    <li>
                        <a href="#"><div class="active_bar"></div>COMEDY</a>
                    </li>
                    <li>
                        <a href="#"><div class="active_bar"></div>WESTERN</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><div class="tvseries_icon"></div>TV SERIES</a>
            </li>
            <li>
                <a href="#"><div class="radio_icon"></div>RADIO</a>
            </li>
            <li>
                <a href="#"><div class="recording_icon"></div>RECORDING</a>
            </li>
            <li>
                <a href="#"><div class="favorite_icon"></div>FAVORITE</a>
            </li>
        </ul>
    </nav>

</div>