.showcase#last_tvseries {
  margin-top: 44px;
}

#last_tvseries .sliders_title {
  display: inline-flex;
  width: 100%;
  position: relative;
  margin-bottom: 32px;
}


#last_tvseries .sliders_title p {
  color: white;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-left: 114px;
  letter-spacing: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#last_tvseries .carousel-cell {
  margin-left: 35px;
  margin-right: 35px;
}

#last_tvseries .carouselOfImages {
  max-width: 100%;
  margin: auto;
  overflow: visible;
}

#last_tvseries .carouselImage {
  width: 670px !important;
  margin-top: 30px;
  padding-bottom: 40px;
  border-radius: 20px;
  counter-increment: carousel-cell;
  transition: transform 0.5s;
  text-align: center;
}

#last_tvseries .carouselImage img {
  width: 100%;
  height: 316px !important;
  border-radius: 20px;
}

#last_tvseries .carouselImage.is-selected {
  z-index: 10;
  transform: scaleY(1.10442);
}

#last_tvseries .carouselImage.is-selected img {
  -webkit-box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.7);
  border: 1px solid #EB761C;
}

#last_tvseries .carouselImage p {
  display: none;
  color: #f5f5f5;
  width: 100%;
  font-size: 20px;
  letter-spacing: 3px;
}

#last_tvseries .carouselImage.is-selected p {
  margin-top: 12px;
  margin-bottom: 0px !important;
  display: block;
  color: #F5F5F5;
  width: 100%;
  font-size: 20px;
  letter-spacing: 3px;
}

/* .carouselImage.nextToSelected {
  transform: scale(1.25);
  z-index: 5;
} */

#last_tvseries .carouselImage.nextToSelected img{
  opacity: 0.15;
  border: 2px solid #707070;
}

/*! Flickity v2.0.5
https://flickity.metafizzy.co
---------------------------------------------- */

#last_tvseries .flickity-enabled {
  position: relative;
}

#last_tvseries .flickity-enabled:focus {
  outline: none;
}

#last_tvseries .flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

#last_tvseries .flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

#last_tvseries .flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#last_tvseries .flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

#last_tvseries .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */

#last_tvseries .flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#last_tvseries .flickity-prev-next-button:hover {
  background: white;
}

#last_tvseries .flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F;
}

#last_tvseries .flickity-prev-next-button:active {
  opacity: 0.6;
}

#last_tvseries .flickity-prev-next-button.previous {
  left: 10px;
}

#last_tvseries .flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */

#last_tvseries .flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

#last_tvseries .flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

#last_tvseries .flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto;
}

#last_tvseries .flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

#last_tvseries .flickity-prev-next-button .arrow {
  fill: #333;
}

/* ---- page dots ---- */

#last_tvseries .flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

#last_tvseries .flickity-rtl .flickity-page-dots {
  direction: rtl;
}

#last_tvseries .flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

#last_tvseries .flickity-page-dots .dot.is-selected {
  opacity: 1;
}

#last_tvseries .product-detail-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 21px;
  font-weight: 700;
}

#last_tvseries #lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 90vw;
  height: 90vh;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#last_tvseries #dark {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .9);
  width: 100vw;
  height: 100vh;
}

#last_tvseries .product-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

#last_tvseries .product-detail-inner {
  display: flex;
  background-color: white;
  width: 75vw;
  height: 75vh;
  position: relative;
  padding: 1rem;
  overflow-y: auto;
}

#last_tvseries .product-detail-image {
  flex: 0 1 30%;
  padding: 15px;
}

#last_tvseries .product-detail-image img {
  width: 100%;
}

#last_tvseries .hide {
  display: none;
}
