<div class="card_row_fragment">
  <div *ngFor='let genreMovieCard of totalMovieCardArray'>
    <div class="genre_row" id={{genreMovieCard.categoryTitle}}>
      <div class="genre_title">
        <p>{{genreMovieCard.categoryTitle}}</p>
      </div>
      <div class="genre_sliders">
        <div class="movie_card" *ngFor='let movieCard of genreMovieCard.categoryMovies'>
          <img src="{{movieCard.cardImg}}">
          <p>{{movieCard.name}}</p>
        </div>
        <div class="prev_arrow">
          <button class="slider-prev-next-button prev" type="button" aria-label="Previous">
            <svg class="slider-prev-next-icon" viewBox="0 0 100 100">
              <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path>
            </svg>
          </button>
        </div>
        <div class="next_arrow">
          <button class="slider-prev-next-button next" type="button" aria-label="Next">
            <svg class="slider-prev-next-icon" viewBox="0 0 100 100">
              <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
