<div class="card_row_fragment">
  <div class="genre_row" id="action">
    <div class="genre_title">
      <p>Action</p>
    </div>
    <div class="genre_sliders">
      <div class="movie_card" style="left: -71px;">
        <img src="https://image.tmdb.org/t/p/original/aw4FOsWr2FY373nKSxbpNi3fz4F.jpg">
        <p>Mission: Impossible</p>
      </div>
      <div class="movie_card" style="left: 223px;">
        <img src="https://image.tmdb.org/t/p/original/3ZfJcWicmh9vLGQ89CrExqpWMll.jpg">
        <p>Mission: Impossible</p>
      </div>
      <div class="movie_card" style="left: 517px;">
        <img src="https://image.tmdb.org/t/p/original/8XaohdSqoBEWHhW40q2VTdMBrV0.jpg">
        <p>Mission: Impossible</p>
      </div>
      <div class="movie_card" style="left: 811px;">
        <img src="https://image.tmdb.org/t/p/original/zNyNPn86myH5Ix1demDa5dfYDao.jpg">
        <p>Mission: Impossible</p>
      </div>
      <div class="movie_card" style="left: 1105px;">
        <img src="https://image.tmdb.org/t/p/original/rHdVGluFBhlSaNQTxhP2v2MHSfm.jpg">
        <p>Mission: Impossible</p>
      </div>
      <div class="movie_card" style="left: 1399px;">
        <img src="https://image.tmdb.org/t/p/original/sjcPWJ5TXgFglsoixNxyZRyEUq3.jpg">
        <p>Mission: Impossible</p>
      </div>
      <div class="movie_card" style="left: 1693px;">
        <img src="https://image.tmdb.org/t/p/original/dEG1l8oarZbIdYkQ9FBaKyCJ9HA.jpg">
        <p>Mission: Impossible</p>
      </div>
      <div class="movie_card" style="left: 1987px;">
        <img src="https://image.tmdb.org/t/p/original/i4HLTcCHxg7ameF6uSMdcneKVT6.jpg">
        <p>Mission: Impossible</p>
      </div>
      <div class="movie_card" style="left: 2281px;">
        <img src="https://image.tmdb.org/t/p/original/aw4FOsWr2FY373nKSxbpNi3fz4F.jpg">
        <p>Mission: Impossible</p>
      </div>
      <div class="prev_arrow">
        <button class="slider-prev-next-button prev" type="button" aria-label="Previous">
          <svg class="slider-prev-next-icon" viewBox="0 0 100 100">
            <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path>
          </svg>
        </button>
      </div>
      <div class="next_arrow">
        <button class="slider-prev-next-button next" type="button" aria-label="Next">
          <svg class="slider-prev-next-icon" viewBox="0 0 100 100">
            <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="genre_row" id="animate">
    <div class="genre_title">
      <p>Animate</p>
    </div>
    <div class="genre_sliders">
      <div class="movie_card" style="left: -71px;">
        <img src="https://image.tmdb.org/t/p/original/aw4FOsWr2FY373nKSxbpNi3fz4F.jpg">
        <p>Mission: Impossible</p>
      </div>

      <div class="movie_card" style="left: 223px;">
        <img src="https://image.tmdb.org/t/p/original/aw4FOsWr2FY373nKSxbpNi3fz4F.jpg">
        <p>Mission: Impossible</p>
      </div>

      <div class="movie_card" style="left: 517px;">
        <img src="https://image.tmdb.org/t/p/original/aw4FOsWr2FY373nKSxbpNi3fz4F.jpg">
        <p>Mission: Impossible</p>
      </div>

      <div class="movie_card" style="left: 811px;">
        <img src="https://image.tmdb.org/t/p/original/aw4FOsWr2FY373nKSxbpNi3fz4F.jpg">
        <p>Mission: Impossible</p>
      </div>

      <div class="movie_card" style="left: 1105px;">
        <img src="https://image.tmdb.org/t/p/original/aw4FOsWr2FY373nKSxbpNi3fz4F.jpg">
        <p>Mission: Impossible</p>
      </div>

      <div class="movie_card" style="left: 1399px;">
        <img src="https://image.tmdb.org/t/p/original/aw4FOsWr2FY373nKSxbpNi3fz4F.jpg">
        <p>Mission: Impossible</p>
      </div>

      <div class="movie_card" style="left: 1693px;">
        <img src="https://image.tmdb.org/t/p/original/aw4FOsWr2FY373nKSxbpNi3fz4F.jpg">
        <p>Mission: Impossible</p>
      </div>

      <div class="movie_card" style="left: 1987px;">
        <img src="https://image.tmdb.org/t/p/original/aw4FOsWr2FY373nKSxbpNi3fz4F.jpg">
        <p>Mission: Impossible</p>
      </div>

      <div class="movie_card" style="left: 2281px;">
        <img src="https://image.tmdb.org/t/p/original/aw4FOsWr2FY373nKSxbpNi3fz4F.jpg">
        <p>Mission: Impossible</p>
      </div>

      <div class="prev_arrow">
        <button class="slider-prev-next-button prev" type="button" aria-label="Previous">
          <svg class="slider-prev-next-icon" viewBox="0 0 100 100">
            <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path>
          </svg>
        </button>
      </div>
      <div class="next_arrow">
        <button class="slider-prev-next-button next" type="button" aria-label="Next">
          <svg class="slider-prev-next-icon" viewBox="0 0 100 100">
            <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
