<div class="card_row_fragment">
  <div class="row">
    <div class="sliders">
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/zlrr7oO8sUSzDgVehP92zjlNQ58.jpg">
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/lnWkyG3LLgbbrIEeyl5mK5VRFe4.jpg">
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/gWQf5j3ZqEfOdW2rIZnkuOOva78.jpg">
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/23ILgoPSO5ShKcTZOuiTVfqFAUB.jpg">
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/zlrr7oO8sUSzDgVehP92zjlNQ58.jpg">
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/zlrr7oO8sUSzDgVehP92zjlNQ58.jpg">
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/zlrr7oO8sUSzDgVehP92zjlNQ58.jpg">
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/zlrr7oO8sUSzDgVehP92zjlNQ58.jpg">
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/zlrr7oO8sUSzDgVehP92zjlNQ58.jpg">
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/zlrr7oO8sUSzDgVehP92zjlNQ58.jpg">
    </div>
  </div>
  <div class="row">

  </div>
  <div class="row">

  </div>
</div>
