/* You can add global styles to this file, and also import other style files */

html,
body {
    background: #26282b !important;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-240 {
    margin-bottom: 240px;
}

#tv_channel .flickity-button.flickity-prev-next-button.previous{
    top: 41% !important;
}
#tv_channel .flickity-button.flickity-prev-next-button.next{
    top: 41% !important;
}

#radio .flickity-button.flickity-prev-next-button.previous{
    top: 41% !important;
}
#radio .flickity-button.flickity-prev-next-button.next{
    top: 41% !important;
}

app-home-page{
    width: 100%;
}

app-movie-land-page{
    width: 100%;
}

app-account-part{
    margin-top: 20px;
}
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
