<div class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 profile_img">
                    <img class="user_profile_img" src="assets/img/images.jpg" alt="">
                </div>
                <div class="col-md-6 account-info-pane">
                    <p>USER ACCOUNT INFO</p>
                    <p>Username: strimo</p>
                    <p>Status: Active</p>
                    <p>Allowed Formats: m3u8 ts rtmp hls</p>
                    <p>Trial: NO</p>
                    <p>Max Connections: 5</p>
                    <p>Created at: 2020-01-25</p>
                    <p>Expire: 2020-03-25</p>
                </div>
            </div>
        </div>
        <div class="col-md-6" class="payment_pane">
            <p>UNLOCK STRIMO</p>
            <p>Please unlock STRIMO app for full functionalities.</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="payment_check active" id="paypal">
                        <div class="check_icon"></div>
                        <div class="icon paypal"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="payment_check" id="credit">
                        <div class="check_icon"></div>
                        <div class="icon credit"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="pay_btn">
                    <button>PLEASE UNLOCK
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$20</button>
                    <p> One Time Payment </p>
                </div>
            </div>
        </div>
    </div>
</div>
