<div class="content">
  <div class="profile">
    <div class="avatar">
      <img src="assets/img/user.png"/>
    </div>
    <div class="info">
      <p class="title">USER ACCOUNT INFO</p>
      <label>Username: <p>strimo</p> </label>
      <label>Status: <p>Active</p> </label>
      <label>Allowed formats: <p>m3u8 ts rtmp hls</p> </label>
      <label>Trial: <p>no</p> </label>
      <label>Max Connections: <p>5</p> </label>
      <label>Created at: <p>2020-01-25</p> </label>
      <label>Expire: <p>2020-03-25</p> </label>
    </div>
  </div>
  <div class="seperator"></div>
  <div class="payment">
    <p class="title">UNLOCK STRIMO</p>
    <p class="description">PLEASE UNLOCK STRIMO FOR FULL FUNCTIONALITIES</p>
    <div class="payment_form">
      <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        <div class="cardNumber">
          <label for="cardNumber">CARD NUMBER</label>
          <div class="cardnumber_form">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="cardNumber"
                [ngClass]="{ 'is-invalid': submitted && form.cardNumber.errors }" placeholder="1234 5678 9876 5432">
              <div *ngIf="submitted && form.cardNumber.errors" class="invalid-feedback">
                <div *ngIf="form.cardNumber.errors.required">Card Number is required</div>
              </div>
            </div>
          </div>
        </div>

        <div class="expiration">
          <label for="expirationDate">EXPIRATION DATE</label>
          <div class="expiration_form">
            <div class="month">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="expirationMM"
                  [ngClass]="{ 'is-invalid': submitted && form.expirationMM.errors }" placeholder="MM">
                <div *ngIf="submitted && form.expirationMM.errors" class="invalid-feedback">
                  <div *ngIf="form.expirationMM.errors.required">Card Number is required</div>
                </div>
              </div>
            </div>
            <div class="seperator_line">
              <img src="assets/img/seperator_line.png" alt="">
            </div>
            <div class="year">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="expirationYY"
                  [ngClass]="{ 'is-invalid': submitted && form.expirationYY.errors }" placeholder="YY">
                <div *ngIf="submitted && form.expirationYY.errors" class="invalid-feedback">
                  <div *ngIf="form.expirationYY.errors.required">Card Number is required</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="csc">
          <label for="csc">CSC</label>
          <div class="csc_form">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="csc"
                [ngClass]="{ 'is-invalid': submitted && form.csc.errors }" placeholder="123">
              <div *ngIf="submitted && form.csc.errors" class="invalid-feedback">
                <div *ngIf="form.csc.errors.required">Card Number is required</div>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
    <div class="unlockBtn">
      <div class="unlock">
        <p class="title">PLEASE UNLOCK</p>
        <p class="amount">$20</p>
      </div>
      <p class="method">One Time Payment</p>
    </div>
  </div>
</div>
