.content{
    color: #A8A8A8;
}

.content>.row{
    margin-bottom: 10px;
    border-radius: 20px;
    background: #2F3136;
    padding-top: 20px;
    padding-bottom: 20px;
}
.content>.row>.col-md-6:first-child{
    border-right: 1px solid rgba(245,245,245,0.2);
}
.content .row{
    margin-left: 15px;
    margin-right: 15px;
}

.profile_img{
    text-align: center;
    vertical-align: middle;
    display: table;
    margin-top: auto;
    margin-bottom: auto;
}

.user_profile_img{
    border-radius: 100%;
    border: 1px solid #EB761C;
    vertical-align: middle;
    display: table-cell;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.account-info-pane{
    padding-top:30px;
    padding-bottom: 30px;
}

.account-info-pane p{
    margin-bottom: 5px;
}
.account-info-pane p:first-child{
    color: white;
    margin-bottom: 40px;
}

.payment_pane{
    width: 50%;
    padding-top:30px;
    padding-bottom: 30px;
    padding-left: 45px;
    padding-right: 45px;
}

.payment_pane p:first-child{
    color: white;
    margin-bottom: 40px;
}

.payment_check{
    display: flex;
}

.payment_check>.check_icon{
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}
.payment_check.active>.check_icon{
    content: url(../../../assets/img/tick.png);
}

.payment_check.active>.icon.paypal{
    content:url(../../../assets/img/paypal.png);
}

.payment_check>.icon.paypal{
    content:url(../../../assets/img/paypal_uncheck.png);
}


.payment_check>.check_icon{
    content: url(../../../assets/img/unchecked.png);
}

.payment_check>.icon.credit{
    content:url(../../../assets/img/credit-card_checked.png);
}

.payment_check.active>.icon.credit{
    content:url(../../../assets/img/credit-card.png);
}

.pay_btn{
    margin-top: 20px;
    width: 100%;
}

.pay_btn button{
    width: 100%;
    background: #1B1C1D;
    border: 1px solid #EB761C;
    border-radius: 8px;
    margin-top: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.pay_btn p{
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
}


